

  <mat-card class="margin-1">
    <mat-card-header>
      <div class="primary-logo"></div>
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <mat-card-title fxLayoutAlign="center center" class="margin-left-2">JSON Schema Editor</mat-card-title>
        <div fxFlex fxLayoutAlign="end center">
          <button
            type="button"
            mat-flat-button
            color="primary"
            matTooltip="Add New Property"
            matTooltipPosition="above"
            (click)="CreateNewSchema()">
            Create a new Schema
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-header>
  </mat-card>

<lcu-json-schema-editor [(schema)]="JSONSchema"></lcu-json-schema-editor>

<mat-card class="margin-1">
    <mat-card-content>
        <div fxFlex fxLayoutAlign="end center">
            <button 
              disabled
              type="button" 
              mat-raised-button 
              color="accent" 
              matTooltip="Save Schema" 
              matTooltipPosition="above">
              <mat-icon>save</mat-icon> Save
            </button>
          </div>
    </mat-card-content>
  </mat-card>