@import '../../../node_modules/@lcu/common/assets/styles/fathym-global.styles';
@import '../../../node_modules/@lcu/common/assets/styles/branding/fathym-branding';
@import '../../../node_modules/@lcu/common/assets/theming/fathym_themes';

@mixin theme-setup($theme) {
    @include angular-material-theme($theme);
    @include theme-extras($theme);
    // @include fathym-branding($theme);

    /**
    * setting color for now. need to figure out why it isn't pulling the proper color from the themex - shannon
    */
    color: mat-contrast(map-get($theme, accent), 500);
    background: mat-color(map-get($theme, accent));
  }

.fathym-contrast-theme {
    $theme: fathym-ivy-theme(false);
    @include theme-setup($theme);
 }