@import '../../../node_modules/@lcu/common/assets/styles/fathym-global.styles';
@import '../../../node_modules/@lcu/common/assets/styles/branding/fathym-branding';
@import '../../../node_modules/@lcu/common/assets/theming/fathym_themes';

@mixin theme-setup($theme) {
  @include primary-logo(thinky-logo, $theme, 1);
  @include angular-material-theme($theme);
  // @include fathym-branding($theme);
  @include theme-extras($theme); 

  .mat-card {
  //  background-color: mat-color(map-get($theme, accent), 300);
  }

  body {
    background-color: mat-color(map-get($theme, primary), 300);
  }
}

@mixin primary-logo($logo, $theme, $opacity) {
  .primary-logo {
    // @extend .header-background;
    height: 60px !important;
    width: 60px !important;
    background-size: 100% !important;
    background-image: fathym-logo($logo, mat-color(map-get($theme, accent)), $opacity) !important;
  }
}

@include theme-setup(fathym-sea-green-theme(true));